@import 'src/styles';
  
.task {
  &_info {
    > h2 {
      display: inline;
      color: $text-light;
      font-size: $font-small; 
      text-align: left;
      @media (max-width: $mobile-font-width-threshold) {
        font-size: $mobile-font-small;
      }
    }
  }

  &_title {
    color: $text-dark;  
    font-family: $font-family;
    font-size: $font-big;
    line-height: 1rem;
    text-overflow: ellipsis;
    // overflow:scroll;
    white-space: nowrap;
    margin-bottom: 2rem;
    @media (max-width: $mobile-font-width-threshold) {
      font-size: $mobile-font-big;
      line-height: 2rem;
      overflow:visible;
      white-space:normal;
      margin-bottom: .5rem;
    }
  }

  &_due {
    > h2 {
      color: $text-dark;
      font-family: $font-family;
      font-size: $font-small;
      text-align: right; 
      font-weight: 600;
      @media (max-width: $mobile-font-width-threshold) {
        font-size: $mobile-font-small;
      }
    }
  }

  &_details_box {
    min-width: 75%; max-width: 800px;
  }
  
  &_description {
    > p {
      color: $text-dark !important;
      font-family: $font-family;
      font-size: $font-small;
      line-height: $font-reg;
      margin-left: 5%;
      text-align: left; 
    }
    margin-bottom: 20px;
    @media (max-width: $mobile-font-width-threshold) {
      font-size: $mobile-font-small; 
      line-height: $mobile-font-small;
    }
  }

  &_menu_style {
    &_OLD {
      background-color: rgb(255, 229, 239);
      .mat-expansion-panel-header {
        background-color: rgb(180, 67, 108) !important;
        &:hover {
          background-color: rgb(148, 36, 77) !important;  
        }
      }
      p {
        color: $text-nearwhite;
        font-family: $font-family;
        font-weight: 600;
      }
    }

    &_EXPIRED {
      background-color: rgb(238, 220, 255);
      .mat-expansion-panel-header {
        background-color: rgb(6, 81, 67) !important;
        &:hover {
          background-color: rgb(125, 59, 187) !important;
        }
      }
      p {
        color: $text-nearwhite;
        font-family: $font-family;
        font-weight: 600;
      }
    }

    &_DONE {
      background-color: rgb(224, 255, 220);
      .mat-expansion-panel-header {
        background-color: rgb(95, 173, 86) !important;
        &:hover {
          background-color: rgb(48, 132, 39) !important;
        }
      } 
      p {
        color: $text-nearwhite;
        font-family: $font-family;
        font-weight: 600;
      }
    }

    &_STARTED {
      .mat-expansion-panel-header {
        background-color: rgb(255, 228, 92) !important;
        &:hover {
          background-color: rgb(255, 218, 34) !important;
        }
      }
      background-color: rgb(255, 248, 212);
      p{
        color: $text-dark;
        font-family: $font-family;
        font-weight: 600;
      }
    }

    &_REVIEW {
      background-color: rgb(207, 239, 255);
      .mat-expansion-panel-header { 
        background-color: rgb(247, 129, 84) !important;
        &:hover {
          background-color: rgb(255, 145, 102) !important;
        }
      }
      p {
        color: $text-nearwhite;
        font-family: $font-family;
        font-weight: 600;
      }
    }
  }   
}





.closed_task_text {
  background-color: rgb(95, 173, 86);
  p {
    color: $text-nearwhite;
    font-family: $font-family;
    font-weight: 600;
  }
  &:focus {
    background-color: rgb(228, 255, 225);
    p {
      color: $text-dark;
    }
  }
  &:hover {
    background-color: rgb(48, 132, 39) !important;
  }
} 