<mat-expansion-panel class="{{BETA_STATUS_CODES.get(task.status)?.css}}_stylebody">
    
    <mat-expansion-panel-header>
        <mat-panel-title>
            <p>{{ task.title }}</p></mat-panel-title>
        <mat-panel-description *ngIf="task.dueDate != undefined">
            <p >{{task.dueDate.toLocaleDateString('en-US',{weekday:'short'}) }} - {{ task.dueDate.toLocaleDateString() }}</p></mat-panel-description>       
    </mat-expansion-panel-header>

    <h2 id="title">{{ task.title }}</h2>
        
    <div id="task_info">
        <h2 id="status" *ngIf="(task.status||[]).length >0">{{ BETA_STATUS_CODES.get(task.status)?.friendly }}</h2>
        <h2 style="color: rgb(57,57,57);" *ngIf="((task.category||[]).length > 0 && (task.type||[]).length > 0)">|</h2>
        <h2 id="type" *ngIf="((task.category||[]).length > 0 && (task.type||[]).length > 0)">{{ TASK_TYPE_CODES_MAP.get(task.type) + " in " + task.category }}</h2>
    </div>

    <div *ngIf="task.dueDate != undefined" id="task_due">
        <h2 *ngIf="task.startDate != undefined">Started on {{task.dueDate.toLocaleDateString('en-US',{weekday:'long'}) }}, {{task.startDate.toLocaleDateString('en-US',{dateStyle:'long'}) }}</h2>
        <h2 *ngIf="((BETA_STATUS_CODES.get(task.status)?.precedence || 0) < 2)">Due on {{task.dueDate.toLocaleDateString('en-US',{weekday:'long'}) }}, {{ task.dueDate.toLocaleDateString('en-US',{dateStyle:'long'}) }} @ {{ task.dueDate.toLocaleTimeString('en-US',{timeStyle:'short'}) }}</h2>
        <h2 *ngIf="((BETA_STATUS_CODES.get(task.status)?.precedence || 0) === 2) && task.completedDate!= undefined">Completed on {{task.dueDate.toLocaleDateString('en-US',{weekday:'long'}) }}, {{ task.completedDate.toLocaleDateString('en-US',{dateStyle:'long'}) }}</h2>
        <h2 *ngIf="((BETA_STATUS_CODES.get(task.status)?.precedence || 0) === 3)">Expired on {{task.dueDate.toLocaleDateString('en-US',{weekday:'long'}) }}, {{ task.dueDate.toLocaleDateString('en-US',{dateStyle:'long'}) }}</h2>
    </div>

    <div    id="task_description" 
            *ngIf="(task.description||[]).length > 0">
        <mat-divider></mat-divider>
        <p>{{ task.description }}</p>
        <mat-divider></mat-divider>
    </div>

    <mat-button-toggle-group aria-label="Edit Mode">
        <mat-button-toggle (click)="taskEditMode = true">Edit</mat-button-toggle>
        <mat-button-toggle (click)="taskEditMode = false">Close</mat-button-toggle>
    </mat-button-toggle-group>

    <app-task-form [taskForm]="taskForm" *ngIf="taskEditMode"></app-task-form>

    <mat-action-row>   
        <button mat-raised-button (click)="functionCalls.completeTask(task.id)">Mark as Completed Today</button> 
        <div *ngIf="taskEditMode">
        <button mat-raised-button (click)="functionCalls.updateTask(task.id)">Save and Update!</button> 
        <button mat-button (click)="functionCalls.deleteTask(task.id)">Delete</button>
        </div>
    </mat-action-row>
</mat-expansion-panel>