$text-dark: rgb(57, 57, 57);
$font: 'Montserrat', sans-serif;

.login_text {
    color: $text-dark;
    font-family: $font;
    font-weight: 600;

    h1 {
        font-size: 2rem;   
        font-weight: 400;
    }
}