<mat-toolbar>
    <mat-toolbar-row>
        <mat-button mat-icon-button [matMenuTriggerFor]="loginMenu">
            <mat-icon>menu</mat-icon>
        </mat-button>
        <mat-menu #loginMenu="matMenu">
            <button mat-menu-item *ngIf="!loginStatus" (click)="login()">
                <span>Login</span>
            </button>
            <button mat-menu-item *ngIf="!loginStatus" (click)="register()">
                <span>Register</span>
            </button>
            <button mat-menu-item *ngIf="loginStatus" (click)="logout()">
                <span>Logout</span>
            </button>
        </mat-menu>
        
        <span>MorrisWA Task App</span>
        
    </mat-toolbar-row>
</mat-toolbar>

<button mat-raised-button color="primary" style="margin-top:10%;margin-left: 15%"  (click)="login()" *ngIf="!loginStatus">Let's get started!</button>
