<mat-spinner *ngIf="!this.LOADED_SUCCESSFULLY"></mat-spinner>
<mat-accordion *ngIf="this.LOADED_SUCCESSFULLY">
    <app-planner-details 
        *ngFor="let planner of (planners$ | async)" 
        [planner]="planner"
        [plannerForm]="plannerFormField"
        [editPlannerMode]="EDITING_PLANNER"
        [funcs]="this"
        ></app-planner-details>

    <mat-expansion-panel class="planners">
        <mat-expansion-panel-header><h1>Add Planner</h1></mat-expansion-panel-header>
        
        <app-planner-form
            style="display:block; margin-top: 5%;"
            [plannerForm]="plannerFormField"
            ></app-planner-form>
    
        <mat-action-row>
            <button mat-raised-button (click)="newPlannerRequest()">New Planner</button>
        </mat-action-row>
    </mat-expansion-panel>    
</mat-accordion>