$text-dark: rgb(57, 57, 57);
$text-light: rgb(118, 118, 118);
$text-nearwhite: rgb(255, 249, 241);
// $font: Roboto, "Helvetica Neue", sans-serif; 
$font: 'Montserrat', sans-serif;
// $font-hand: 'Amatic SC', cursive;
$font-hand: $font;

$font-big: 4rem;
$font-reg: 2rem;
$font-small: 1.5rem;

$mobile-font-width-threshold: 800px;

$mobile-font-big: 2.5rem;
$mobile-font-reg: 1.5rem;
$mobile-font-small: 1rem; 

table {
  width: 100%;
}

.task_info {
  p {
    display: inline;
  }

  h2 {
    color: $text-light;
    font-family: $font-hand;
    font-size: $font-small; 
    text-align: left;
  }
  
  #title {
    color: $text-dark;  
    font-family: $font-hand;
    font-size: $font-big;
    line-height: 1rem;
    text-overflow: ellipsis;
    // overflow:scroll;
    white-space: nowrap;
    margin-bottom: 2rem;
  }

  #status,#type {
    color: $text-light;
    font-size: $font-small;
  }

  @media (max-width: $mobile-font-width-threshold) {
    #title {
      font-size: $mobile-font-big;
      line-height: 2rem;
      overflow:visible;
      white-space:normal;
      margin-bottom: .5rem;

    }
    #status,#type {
      font-size: $mobile-font-small;
    }
  }
}

.task_due {
  h2 {
    color: $text-dark;
    font-family: $font;
    font-size: $font-small;
    // margin-top: 2rem;
    text-align: right; 
    font-weight: 600;
    // text-decoration: underline;
    @media (max-width: $mobile-font-width-threshold) {
      font-size: $mobile-font-small; 
 
    }
  }

}


.task_description {
  p {
    color: $text-dark;
    
    font-family: $font;
    font-size: $font-small;
    line-height: $font-reg;
    margin-left: 5%;
    text-align: left; 
  }
  margin-bottom: 20px;
  @media (max-width: $mobile-font-width-threshold) {
    font-size: $mobile-font-small; 
    line-height: $mobile-font-small;
  }
  
}


// OLD
.OLD,.OLD:focus {
  background-color: rgb(180, 67, 108);
} .OLD_text {
  color: $text-nearwhite;
  font-family: $font;
  font-weight: 600;
} .OLD:hover {
  background-color: rgb(125, 59, 187) !important;
}

// EXPIRED
.EXPIRED,.EXPIRED:focus {
  background-color: rgb(6, 81, 67);
} .EXPIRED_text {
  color: $text-nearwhite;
  font-family: $font;
  font-weight: 600;
} .EXPIRED:hover {
  background-color: rgb(125, 59, 187) !important;
}
.EXPIRED_stylebody {
  background-color: rgb(238, 220, 255);
}

// COMPLETED TURNED IN
.DONE,.DONE:focus {
  background-color: rgb(95, 173, 86);
} 
.DONE_text {
  color: $text-nearwhite;
  font-family: $font;
  font-weight: 600;
}
.DONE:hover {
  background-color: rgb(48, 132, 39) !important;
}
.DONE_stylebody {
  background-color: rgb(224, 255, 220);
}
 
// NEW
.STARTED,.STARTED:focus {
  background-color: rgb(255, 228, 92);
}
.STARTED_text {
  color: $text-dark;
  font-family: $font;
  font-weight: 600;


}
.STARTED:hover {
  background-color: rgb(255, 218, 34) !important;
}
.STARTED_stylebody {
  background-color: rgb(255, 248, 212);
}


// REVIEW
.REVIEW,
.REVIEW:focus {
  background-color: rgb(247, 129, 84);
}
.REVIEW_text {
  color: $text-nearwhite;
  font-family: $font;
  font-weight: 600;

}
.REVIEW:hover {
  background-color: rgb(255, 145, 102) !important;
}
.REVIEW_stylebody {
  background-color: rgb(207, 239, 255);
 
}