<mat-tab-group>
    <mat-tab label="All Tasks">

        <mat-accordion>
            <div *ngFor="let task of (taskobs$ | async)">
                <app-task-details   *ngIf="getTaskStatusCode(task) <= 1"
                                    [functionCalls]="this" 
                                    [task]="task"
                                    [taskForm]="taskForm">
                                </app-task-details>
            </div>

            <mat-expansion-panel>
                <mat-expansion-panel-header class="closed_task_text"><p>Closed Tasks</p></mat-expansion-panel-header>
                
                <div  style="margin-top: 2.5%;"><mat-accordion>
                    <div *ngFor="let task of (taskobs$ | async)">
                        <app-task-details   *ngIf="getTaskStatusCode(task) > 1"
                                            [functionCalls]="this" 
                                            [task]="task" 
                                            [taskForm]="taskForm">
                                        </app-task-details>
                    </div>
                </mat-accordion></div>
            </mat-expansion-panel>

        </mat-accordion>
    </mat-tab>
    <mat-tab *ngFor="let tab of (cats$ | async)" [label]="tab">
        <ng-template matTabContent>
       
            <mat-accordion>
                <div *ngFor="let task of (taskobs$ | async)">
                    <app-task-details   *ngIf="(getTaskStatusCode(task) <= 1) && (task.category == tab)"
                                        [functionCalls]="this" 
                                        [task]="task"
                                        [taskForm]="taskForm">
                                    </app-task-details>
                </div>
    
                <mat-expansion-panel>
                    <mat-expansion-panel-header class="closed_task_text"><p>Closed Tasks</p></mat-expansion-panel-header>
                    
                    <div  style="margin-top: 2.5%;"><mat-accordion>
                        <div *ngFor="let task of (taskobs$ | async)">
                            <app-task-details   *ngIf="(getTaskStatusCode(task) > 1) && (task.category == tab)"
                                                [functionCalls]="this" 
                                                [task]="task" 
                                                [taskForm]="taskForm">
                                            </app-task-details>
                        </div>
                    </mat-accordion></div>
                </mat-expansion-panel>
                
            </mat-accordion>
    </ng-template>
    </mat-tab>
</mat-tab-group>

<mat-accordion >
    <mat-expansion-panel style="margin-top: 10%">
        <mat-expansion-panel-header>View Task Table</mat-expansion-panel-header> 

        <table 
            style="margin-bottom: 5%"
            mat-table 
            [dataSource]="dataSource" 
            matSort
            #taskTableSort="matSort" 
            matSortChange="announceSortChange($event)"
            class="mat-elevation-z8">

        <!-- Position Column -->
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category">
            Category
            </th>
            <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Title
            </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Status
            </th>
            <td mat-cell *matCellDef="let element"> {{ BETA_STATUS_CODES.get(element.status)?.friendly }} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by due date">
            Due Date
            </th>
            <td mat-cell *matCellDef="let element"> 
                <p *ngIf="element.dueDate != undefined">
                {{ (element.dueDate).toDateString() }} </p>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        
    </mat-expansion-panel>
    <mat-expansion-panel> <!-- ADD TASK-->
        <mat-expansion-panel-header>Add Task</mat-expansion-panel-header>

        <form [formGroup]="taskForm">
            <mat-form-field appearance="outline">
                <mat-label>Task Name</mat-label>
                <input  matInput 
                        type="text" 
                        name="task-name" 
                        formControlName="task-name">
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
                <mat-label>Category</mat-label>
                <input  matInput 
                        type="text" name="task-category" 
                        formControlName="task-category">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select matNativeControl formControlName="task-status">
                    <mat-option *ngFor="let enum of BETA_STATUS_CODES|keyvalue" 
                                        [value]="enum.key">{{ enum.value.friendly }}</mat-option>
                </mat-select>
            </mat-form-field> 
            <mat-form-field appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select matNativeControl formControlName="task-type">
                    <mat-option *ngFor="let enum of TASK_TYPE_CODES_MAP|keyvalue" 
                                        [value]="enum.key">{{ enum.value }}</mat-option>
                </mat-select>
            </mat-form-field> 
            <mat-divider></mat-divider>
            <mat-form-field appearance="fill" class="task_details_box">
                <mat-label>Details</mat-label>
                <textarea   matInput 
                            type="text" 
                            name="task-details" 
                            style="min-width: 100px; max-width: 500px; width: 100%;"
                            formControlName="task-details">
                </textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field>
                <input  matInput 
                        [matDatepicker]="startDatePicker" 
                        name="task-start-date" 
                        formControlName="task-start-date">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-label>Task Start Date</mat-label>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input  matInput
                        [matDatepicker]="endDatePicker" 
                        name="task-due-date" 
                        formControlName="task-due-date">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-label>Due Date</mat-label>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input  matInput 
                        [matDatepicker]="completeDatePicker" 
                        name="task-complete-date" 
                        formControlName="task-complete-date">
                <mat-datepicker-toggle matSuffix [for]="completeDatePicker"></mat-datepicker-toggle>
                <mat-label>Completion Date</mat-label>
                <mat-datepicker #completeDatePicker></mat-datepicker>
            </mat-form-field>
        </form>

        <mat-action-row>
            <button mat-raised-button (click)="addTaskRequest()">New Task</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>