<mat-accordion>
    <mat-spinner *ngIf="!LOADED_SUCCESSFULLY"></mat-spinner>
    
    <div *ngIf="LOADED_SUCCESSFULLY">
    <mat-expansion-panel *ngFor="let planner of (planners$ | async)">

        <mat-expansion-panel-header>{{ planner.name }}</mat-expansion-panel-header>
        <h1 style="font-size: 48px;">{{ planner.name }}</h1>

        <div    *ngIf="(planner.goal||[]).length!=0" 
                class="goal_stylebody">
            <h2>My goal for this planner is...</h2>
            <h3>{{ planner.goal }}</h3>
        </div>
        
        <div    class="dates_stylebody" 
                *ngIf="planner.startDate != undefined && planner.finishDate != undefined">
            <h2>From {{ planner.startDate.toDateString() }}</h2>
            <h2>To {{ planner.finishDate.toDateString() }}</h2>
        </div>

        <app-task [PLANNER_ID]="planner.id" [EMAIL]="this.EMAIL"></app-task>


        <mat-button-toggle-group    aria-label="Edit Mode"
                                    style="margin-top: 5%;">
            <mat-button-toggle (click)="editPlannerMode = true">Edit Planner</mat-button-toggle>
            <mat-button-toggle (click)="editPlannerMode = false">Close</mat-button-toggle>
        </mat-button-toggle-group>


        <div *ngIf="editPlannerMode">
        <form [formGroup]="plannerFormField" >
            <mat-form-field appearance="outline">
                <mat-label>Rename Planner</mat-label>
                <input  matInput 
                        type="text"
                        name="planner-name" 
                        formControlName="planner-name" 
                        required="true">
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
                <mat-label>New Goal</mat-label>
                <textarea  matInput 
                        type="text" 
                        name="planner-goal" 
                        formControlName="planner-goal"></textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field>
                <input  matInput
                        [matDatepicker]="startDatePicker" 
                        name="planner-start-date" 
                        formControlName="planner-start-date">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-label>Planner Start Date</mat-label>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input  matInput 
                        [matDatepicker]="endDatePicker" 
                        name="planner-end-date" 
                        formControlName="planner-end-date">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-label>Planner End Date</mat-label>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        
            <!-- <mat-action-row>
                <button mat-raised-button color="primary" (click)="this.newPlannerRequest()">Save Changes</button>
            </mat-action-row> -->
        </form>
        <mat-action-row>               
            <button mat-button (click)="updatePlanner(planner.id)">Save and Update!</button>
            <button mat-raised-button (click)="deletePlanner(planner.id)">Delete {{ planner.name }}</button>
        </mat-action-row>
        </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>Add Planner</mat-expansion-panel-header>
        <form [formGroup]="plannerFormField" >
            <mat-form-field appearance="outline">
                <mat-label>Planner Name</mat-label>
                <input  matInput 
                        type="text"
                        name="planner-name" 
                        formControlName="planner-name" 
                        required="true">
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field appearance="outline">
                <mat-label>Goal</mat-label>
                <textarea  matInput 
                        type="text" 
                        name="planner-goal" 
                        formControlName="planner-goal"></textarea>
            </mat-form-field>
            <mat-divider></mat-divider>
            <mat-form-field>
                <input  matInput
                        [matDatepicker]="startDatePicker" 
                        name="planner-start-date" 
                        formControlName="planner-start-date">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-label>Planner Start Date</mat-label>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <input  matInput 
                        [matDatepicker]="endDatePicker" 
                        name="planner-end-date" 
                        formControlName="planner-end-date">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-label>Planner End Date</mat-label>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
        
           
        </form>
    
        <mat-action-row>
            <button mat-raised-button (click)="newPlannerRequest()">New Planner</button>`
        </mat-action-row>
    </mat-expansion-panel>    
    </div>
</mat-accordion>