.goal_stylebody {
    h2 {
        font-size: 30px;
        font-style: italic;
    }
    h3 {
        margin-left: 5%;
        font-size: 20px;
    }
}

.dates_stylebody {
    h2 {
        font-size: 30px;
        text-decoration: underline;
        text-align: right;
    }
}