$text-dark: rgb(57, 57, 57);
$text-light: rgb(118, 118, 118);
$text-nearwhite: rgb(255, 249, 241);
$font: 'Montserrat', sans-serif;
// $font-hand: 'Amatic SC', cursive;
$font-hand: $font;

$font-xl: 7em;
$font-big: 4rem;
$font-reg: 2rem;
$font-small: 1.5rem;

$mobile-font-width-threshold: 800px;

$mobile-font-big: 2.5rem;
$mobile-font-reg: 1.5rem;
$mobile-font-small: 1rem; 

.planners_stylebody {

    padding-top: 2%;
    padding-bottom: 2%;

    h1 {
        color: $text-dark;
        font-family: $font;
        font-weight: 300;
        font-size: $font-big;
        // overflow: hidden;
        // white-space: nowrap;
        @media (max-width: $mobile-font-width-threshold) {
            font-size: $mobile-font-reg;
        }
    }
  
    :focus ,.mat-expansion-panel-header.mat-expanded {
        padding-top: 2%;
        padding-bottom: 2%;
        h1 { 
            font-size: $font-xl;
            font-family: $font-hand;
            @media (max-width: $mobile-font-width-threshold) {
                font-size: $mobile-font-big;
            } 
        }
    }
}

.planner_goal {
    font-family: $font-hand;
    color: $text-dark;
    font-weight: 600;
    font-size: $font-reg;
    line-height: $font-reg;
    @media (max-width: $mobile-font-width-threshold) {
        font-size: $mobile-font-reg;
        line-height: $mobile-font-reg;
        font-weight: 400;
    } 
}

.dates_stylebody {
    font-family: $font;
    color: $text-dark;
    // line-height: 1rem;
    h2 {
        font-size: $font-reg;
        line-height: $font-reg;
        font-weight: 600;
        text-align: right;
        @media (max-width: $mobile-font-width-threshold) {
            font-size: $mobile-font-reg;
            line-height: $mobile-font-reg;
            font-weight: 400;
        } 
    }   
}