$text-dark: rgb(57, 57, 57);
$text-light: rgb(118, 118, 118);
$text-nearwhite: rgb(255, 249, 241);
$font: 'Montserrat', sans-serif;
// $font-hand: 'Amatic SC', cursive;
$font-hand: $font;

.planners_stylebody {

    padding-top: 2%;
    padding-bottom: 2%;
   

    h1 {
        color: $text-dark;
        font-family: $font;
        font-weight: 300;
        font-size: 2em;   
        overflow: hidden;
        white-space: nowrap;
    }
    
    :focus ,.mat-expansion-panel-header.mat-expanded {
        padding-top: 2%;
        padding-bottom: 2%;
        h1 { 
            font-size: 7em;   
            font-family: $font-hand;
        }
    }

}

.planner_goal {
    font-family: $font-hand;
    color: $text-dark;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
}

.dates_stylebody {
    font-family: $font;
    color: $text-dark;
    // line-height: 1rem;
    h2 {
        font-size: 1.5em;
        font-weight: 600;
        text-align: right;
    }
}