/* You can add global styles to this file, and also import other style files */

// Globals
$text-dark: rgb(57, 57, 57);
$text-light: rgb(118, 118, 118);
$text-nearwhite: rgb(255, 249, 241);
$font-family: 'Montserrat', sans-serif;

$font-xl: 7em;
$font-big: 4rem;
$font-reg: 2rem;
$font-small: 1.5rem;

$mobile-font-width-threshold: 800px;

$mobile-font-big: 2.5rem;
$mobile-font-reg: 1.5rem;
$mobile-font-small: 1rem; 

// Import Angular Material Theme
@import "@angular/material/prebuilt-themes/indigo-pink.css";
// Import Fonts from Google
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

// Global Styles
html, body { 
  height: 100%;
}

body { 
  margin: 0; 
  font-family: $font-family;
}

table {
  width: 100%;
}
